{% extends 'blog/base.html.twig' %}

{% block content %}
     <div class="container ">
        <div class="row">
            <div class="col-4 offset-md-8 text-end">
                <a href={{ path('blog_create') }} type="button" class="btn  btn-outline-dark m-2">{{ 'str_create_new_post' | trans }}</a>
                <a href={{ path('blog_update') }} type="button" class="btn  btn-outline-dark m-2">{{ 'str_update_bbbdd' | trans }}</a>

            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            {% if posts is defined %}
                {% for r in posts %}
                <div class="col-4">
                    {{ include('blog/card.html.twig', {id:r.id, title: r.title, body: r.body}) }}
                </div>
                {% endfor %}  
            {% endif %}

            {% if error is defined %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}