{% extends 'blog/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 m-2">
                 <a href={{ path('blog_list')}} class="btn  btn-outline-dark m-2 float-end">{{ 'str_btn_back_list' | trans }}</a>
            </div>
        </div>
        {% if post is defined %}
            <div class="row">
                {% if post.blog is defined %}
                    <div class="col-8 text-center">
                        <h1>{{post.blog.title}} </h1>
                        <p>{{post.blog.body}} </p>

                    </div>
                {% endif %}
                {% if post.autor is defined %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ 'str_autor_datasheet_title' | trans }}</h4>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                
                                    <p><strong>{{'str_name' | trans}}:</strong> {{post.autor.name}}</p>
                                    <p><strong>{{'str_username' | trans}}</strong> {{post.autor.username}}</p>
                                    <p><strong>{{'str_email' | trans}}</strong> {{post.autor.email}}</p>
                                    <p><strong>{{'str_address' | trans}}</strong></p>
                                    <div class="card">
                                        <ul class="list-group list-group-flush">
                                        {% for key, dat in post.autor.address %}
                                            <li class="list-group-item"><strong>{{key|capitalize }}:</strong> {{dat | join(', ')}}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <p><strong>{{'str_phone' | trans}}</strong> {{post.autor.phone}}</p>
                                    <p><strong>{{'str_website' | trans}}</strong> {{post.autor.website}}</p>
                                    <p><strong>{{'str_company' | trans}}</strong> </p>
                                    <div class="card">
                                        <ul class="list-group list-group-flush">
                                        {% for key, dat in post.autor.company %}
                                            <li class="list-group-item"><strong>{{key|capitalize }}:</strong> {{dat | join(', ')}}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

        {% endif %}

       
    </div>
{% endblock %}